html {
    font-family: sans-serif;
}
h1 {
    text-align: center;
}
body {
    padding-top: 50px;
}
.container {
    margin: auto;
    width: 400px;
    padding: 10px;
}
.display{
    margin: auto;
    padding: 20px;
}
button {
    padding: 24px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: rgb(241, 248, 255);
    border: 2px solid rgb(217, 219, 227);
    border-radius: 8px;
    color: gray;
}

/* .square {
    color: gray;
} */

.clear,.delete {
    background-color:rgb(231, 198, 198);
    color: white;
}